body {
    background-color: lightskyblue;
    margin: 50px;
}
    
h1 {
    text-align: center;
    text-decoration: underline;
}

table {
    margin-left: auto;
    margin-right: auto;
}

tr {
    background-color: rgb(219, 166, 74);
    border: solid 2px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}

th {
    background-color: lightgray;
    border: solid 2px;
    display: block;
    text-align: center;
    column-gap: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}
div {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    column-gap: 150px;
    width: 500px;
    padding: 5px 5px 5px 5px;
    border: solid 2px;
}